                    /* --去除原先設定 重新設定-- */
                    
                    html {
                        scroll-behavior: smooth;
                    }
                    
                    * {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                    /* --灰色的底-- */
                    
                    body {
                        background: #ddd;
                    }
                    
                    .btt {
                        width: 30px;
                        height: 30px;
                        position: fixed;
                        bottom: 10px;
                        right: 10px;
                        font-size: 25px;
                        font-weight: 100;
                        text-align: center;
                        background-color: rgba(150, 150, 150, 0.6);
                        border-radius: 50% 50%;
                    }
                    
                    .btt a {
                        color: rgb(255, 255, 255);
                        text-decoration: none;
                    }
                    /* --白色的框架-- */
                    
                    .wrap {
                        width: 1000px;
                        height: auto;
                        background: #fff;
                        margin: 50px auto;
                        padding: 60px;
                        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
                        font-size: 12px;
                    }
                    
                    .wrap h2 {
                        width: fit-content;
                        background-color: rgb(245, 245, 245);
                        font-size: 18px;
                        margin-top: 60px;
                        margin-bottom: 10px;
                    }
                    /* --基本資料-- */
                    
                    .wrap .profile {
                        background: linear-gradient(to left, #f5f7f7, #f5f7f7b7);
                        height: 330px;
                        padding: 2%;
                    }
                    
                    .wrap .profile .left {
                        width: 65%;
                        height: 295px;
                        background-image: url(../image/me.jpg);
                        background-size: 80%;
                        background-position: center;
                        float: left;
                        margin-right: 30px;
                    }
                    
                    .wrap .profile .left img {
                        width: 100%;
                    }
                    
                    .wrap .profile .right .name {
                        font-size: 16px;
                        letter-spacing: 1.2px;
                        margin-top: 40px;
                        margin-bottom: 60px;
                    }
                    
                    .wrap .profile .right .info {
                        height: auto;
                        line-height: 18px;
                        letter-spacing: 1.5px;
                        margin-bottom: 30px;
                    }
                    /* ---連結圖案--- */
                    
                    .wrap .profile .right .link a {
                        width: 20px;
                        height: 20px;
                        padding-top: 20px;
                        padding-bottom: 15px;
                        display: inline-block;
                        margin-right: 5px;
                    }
                    
                    .wrap .profile .right .link a img {
                        width: 20px;
                        height: 20px;
                        opacity: 0.8;
                    }
                    
                    .wrap .profile .right .link a:hover {
                        transition: .4s;
                        opacity: 0.4;
                    }
                    /* ---電子信箱--- */
                    
                    .wrap .profile .mailphone {
                        line-height: 18px;
                        letter-spacing: .8px;
                        padding-top: 5px;
                    }
                    
                    .wrap .profile .right .mail::before {
                        content: "E";
                        font-weight: bold;
                    }
                    
                    .wrap .profile .right .mail a {
                        color: #000;
                        text-decoration: none;
                    }
                    
                    .wrap .profile .right .mail a:hover {
                        transition: .4s;
                        text-decoration: none;
                        color: #ccc;
                    }
                    /* ---手機--- */
                    
                    .wrap .profile .right .phone::before {
                        content: "P";
                        font-weight: bold;
                    }
                    
                    .wrap .profile .right .phone {
                        color: #000;
                        text-decoration: none;
                    }
                    /* ---更多--- */
                    
                    .wrap .profile .right .more {
                        float: left;
                        font-size: 10px;
                    }
                    
                    .wrap .profile .right .more a {
                        color: rgb(140, 140, 140);
                        font-weight: 100;
                    }
                    
                    .wrap .profile .right .more a:hover {
                        color: grey;
                        transition: .4s;
                        text-decoration: none;
                    }
                    /* --技能-- */
                    
                    .wrap .skill {
                        margin-left: 2%;
                    }
                    
                    .wrap .skill ul li {
                        width: 30%;
                        float: left;
                        list-style-type: none;
                        margin-right: 5%;
                        margin-bottom: 5px;
                        padding-left: 2%;
                    }
                    
                    .wrap .skill ul li:nth-child(3n) {
                        margin-right: 0%
                    }
                    
                    .wrap .skill ul li span::before {
                        content: " / ";
                    }
                    
                    .wrap .skill ul li span {
                        font-weight: lighter;
                        color: rgb(93, 93, 93);
                    }
                    /* --經歷--*/
                    
                    .wrap .experience {
                        height: auto;
                        margin-top: 100px;
                        margin-left: 2%;
                        display: flow-root;
                    }
                    
                    .wrap .experience .leftbox {
                        width: 48%;
                        float: left;
                        margin-right: 4%;
                    }
                    
                    .wrap .experience .rightbox {
                        width: 48%;
                        float: left;
                    }
                    
                    .wrap .experience ul {
                        padding-left: 40px;
                        margin-left: 24px;
                        border-left: 1px solid rgb(240, 246, 246);
                    }
                    
                    .wrap .experience ul li::before {
                        content: "●";
                        display: block;
                        border-radius: 50%;
                        color: rgb(210, 210, 210);
                        position: absolute;
                        margin-left: -16px;
                    }
                    
                    .wrap .experience ul li {
                        list-style-type: none;
                        margin-left: -30px;
                        margin-bottom: 32px;
                        position: relative;
                    }
                    /* 經驗動畫 */
                    
                    .wrap .experience ul li a {
                        color: #000;
                        text-decoration: none;
                    }
                    
                    .wrap .experience ul li a:hover {
                        transition: .4s;
                        color: #ccc;
                    }
                    
                    .wrap .experience ul li span::before {
                        content: "○";
                        margin-left: 10px;
                        margin-right: 4px;
                    }
                    
                    .wrap .experience ul li span {
                        display: block;
                        font-weight: lighter;
                        color: rgb(111, 111, 111);
                        margin-top: 6px;
                    }
                    /* --作品-- */
                    
                    .wrap .work {
                        margin-left: 2%;
                        padding-top: 40px;
                    }
                    
                    .wrap .work ul {
                        width: 100%;
                        height: 300px;
                        list-style-type: none;
                        padding-left: 2%;
                    }
                    
                    .wrap .work ul li {
                        width: 31%;
                        height: 180px;
                        float: left;
                        margin-right: 2%;
                        margin-bottom: 15px;
                        overflow: hidden;
                    }
                    
                    .wrap .work ul li img {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
                    
                    .wrap .work ul li:hover img {
                        transform: scale(1.2);
                        transition: all 1s;
                    }
                    /* ---更多--- */
                    
                    .wrap .work .more {
                        float: right;
                        margin-right: 3.5%;
                    }
                    
                    .wrap .work .more a {
                        font-weight: 100;
                        letter-spacing: 1px;
                        color: rgb(0, 0, 0, 0.6);
                    }
                    
                    .wrap .work .more a:hover {
                        color: #ccc;
                        transition: .5s;
                        text-decoration: none;
                    }
                    /* ---woodworking--- */
                    
                    .wrap .woodworking h2 {
                        margin-top: 150px;
                    }
                    
                    .wrap .woodworking ul {
                        width: fit-content;
                        height: fit-content;
                        padding-bottom: 200px;
                        list-style-type: none;
                    }
                    
                    .wrap .woodworking ul li {
                        width: 31%;
                        height: 180px;
                        float: left;
                        margin-right: 2%;
                        margin-bottom: 15px;
                        overflow: hidden;
                    }
                    
                    .wrap .woodworking ul li img {
                        width: 100%;
                        height: auto;
                        object-position: 0%;
                    }
                    
                    .wrap .woodworking ul li:hover img {
                        transform: scale(1.3);
                        transition: all 1s;
                    }
                    
                    .wrap .bottom {
                        height: 50px;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        margin-top: 50px;
                    }
                    
                    .wrap .bottom ul {
                        list-style: none;
                    }
                    
                    .wrap .bottom a {
                        font-weight: lighter;
                        text-decoration: none;
                        font-size: 10px;
                        word-spacing: 1px;
                        color: #000;
                    }
                    
                    .wrap .bottom a:hover {
                        transition: .4s;
                        color: #ccc;
                    }
                    
                    .bottominfo {
                        width: auto;
                        height: 50px;
                        text-align: center;
                        color: rgba(255, 255, 255, 0.9);
                        font-size: 10px;
                        font-weight: 200;
                    }
                    
                    @media screen and (max-width: 900px) {
                        * {
                            padding: 0;
                            margin: 0;
                            box-sizing: border-box;
                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        }
                        /* --灰色的底-- */
                        body {
                            background: #ddd;
                        }
                        /* --白色的框架-- */
                        .wrap {
                            width: 95%;
                            height: auto;
                            margin: 20px auto;
                            padding: 10px;
                            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
                            background: #fff;
                            font-size: 11px;
                        }
                        .wrap h2 {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            width: fit-content;
                            font-size: 18px;
                            background-color: rgba(241, 245, 245, 0.6);
                        }
                        /* --基本資料-- */
                        .wrap .profile {
                            width: 100%;
                            height: fit-content;
                            padding: 2%;
                            background: #f5f7f79a;
                            display: flow-root;
                            margin-bottom: 80px;
                        }
                        .wrap .profile .left {
                            width: 60%;
                            height: 420px;
                            margin-right: 20px;
                            background-size: contain;
                            background-position: 0 50%;
                        }
                        .wrap .profile .right .name {
                            font-size: 14px;
                            letter-spacing: 1.2px;
                            margin-top: 160px;
                            margin-bottom: 30px;
                        }
                        .wrap .profile .right .info {
                            font-size: 12px;
                            font-weight: 300;
                            line-height: 18px;
                            letter-spacing: 1.4px;
                        }
                        .wrap .profile .mailphone {
                            font-size: 12px;
                            font-weight: 300;
                            line-height: 18px;
                            letter-spacing: .8px;
                        }
                        /* ---更多--- */
                        .wrap .profile .right .more {
                            font-size: 10px;
                        }
                        .wrap .profile .right .more a {
                            color: rgb(140, 140, 140);
                        }
                        /* ---經驗--- */
                        .wrap .experience {
                            height: 260px;
                            margin-top: 100px;
                            margin-left: 2%;
                        }
                        .wrap .experience .leftbox {
                            width: 44%;
                            height: 210px;
                            float: left;
                            margin-right: 4%;
                            overflow: inherit;
                        }
                        .wrap .experience .rightbox {
                            width: 50%;
                            float: left;
                            overflow: inherit;
                        }
                        .wrap .experience ul {
                            padding-left: 40px;
                            margin-left: 24px;
                            border-left: 1px solid rgb(240, 246, 246);
                        }
                        .wrap .experience ul li::before {
                            content: "●";
                            display: block;
                            border-radius: 50%;
                            color: rgb(210, 210, 210);
                            position: absolute;
                            margin-left: -16px;
                        }
                        .wrap .experience ul li {
                            list-style-type: none;
                            margin-left: -30px;
                            margin-bottom: 32px;
                            position: relative;
                        }
                        /* --作品-- */
                        .wrap .work {
                            padding-top: 160px;
                            height: auto;
                        }
                        .wrap .work .more {
                            margin-top: -20px;
                        }
                        .wrap .work .graphic {
                            width: 100%;
                            height: 725px;
                            margin-top: 120px;
                        }
                        .wrap .work ul {
                            height: fit-content;
                        }
                        .wrap .work ul li {
                            width: 45%;
                            height: auto;
                            margin-left: 1%;
                            margin-right: 4%;
                            margin-bottom: 30px;
                            overflow: hidden;
                        }
                        .wrap .work ul li img {
                            width: 100%;
                            height: auto
                        }
                        .wrap .work .graphic .more a {
                            font-size: 10px;
                            color: rgba(0, 0, 0, 0.6);
                        }
                        .wrap .work .woodworking h2 {
                            margin-top: 0px;
                        }
                        .wrap .work .woodworking {
                            width: 100%;
                            height: 400px;
                        }
                        .wrap .work .woodworking li:last-child {
                            display: none;
                        }
                        .wrap .work .woodworking img {
                            object-fit: cover;
                        }
                    }
                    
                    @media screen and (max-width: 650px) {
                        * {
                            padding: 0;
                            margin: 0;
                            box-sizing: border-box;
                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        }
                        /* --灰色的底-- */
                        body {
                            background: rgba(0, 0, 0, 0.1);
                        }
                        /* --白色的框架-- */
                        .wrap {
                            width: 95%;
                            height: auto;
                            margin: 10px auto;
                            padding: 10px;
                            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
                            background: #fff;
                            font-size: 10px;
                        }
                        .wrap h2 {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            width: fit-content;
                            font-size: 18px;
                            background-color: rgba(241, 245, 245, 0.7);
                        }
                        /* --基本資料-- */
                        .wrap .profile {
                            width: 100%;
                            height: fit-content;
                            padding: 3%;
                            background-image: url(../image/me.jpg);
                            background-size: cover;
                            background-position: 45% 0%;
                            display: inline-block;
                            margin-bottom: 80px;
                        }
                        .wrap .profile .left {
                            width: 0;
                            height: 0;
                            background: none;
                        }
                        .wrap .profile .right .name {
                            font-size: 15px;
                            font-weight: 300;
                            color: rgb(0, 0, 0, 1);
                            letter-spacing: 2px;
                            margin: 5px;
                            margin-bottom: 300px;
                        }
                        .wrap .profile .right .info {
                            font-size: 10px;
                            color: rgba(0, 0, 0, 0.7);
                            line-height: 18px;
                            letter-spacing: 1.3px;
                            padding-left: 5px;
                            border-left: 1px solid rgba(0, 0, 0, 0.8);
                            margin-bottom: 0;
                        }
                        .wrap .profile .mailphone {
                            font-weight: 300;
                            font-size: 10px;
                            float: right;
                            text-align: end;
                            letter-spacing: 1px;
                            margin-top: 40px;
                            margin-right: -50px;
                        }
                        /* ---連結圖案--- */
                        .wrap .profile .right .link a {
                            width: 20px;
                            height: 20px;
                            padding-top: 20px;
                            padding-bottom: 15px;
                            float: right;
                            margin-right: 5px;
                        }
                        .wrap .profile .right .link a img {
                            width: 20px;
                            height: 20px;
                            opacity: 0.8;
                        }
                        /* ---更多--- */
                        .wrap .profile .right .more {
                            font-size: 12px;
                            margin-right: -10px;
                            float: right;
                            margin: 0;
                        }
                        /* --技能-- */
                        .wrap .skill {
                            display: block;
                            margin-left: 2%;
                        }
                        .wrap .skill ul li {
                            list-style-type: symbols();
                            width: 100%;
                            float: left;
                            margin-bottom: 5px;
                        }
                        .wrap .skill ul li:nth-child(2n) {
                            margin-right: 0%
                        }
                        .wrap .skill ul li span {
                            margin-left: 1%;
                            font-weight: lighter;
                            color: rgb(93, 93, 93);
                        }
                        /* --經歷--*/
                        .wrap .experience {
                            height: auto;
                            padding-top: 50px;
                            margin-left: 2%;
                            display: block;
                        }
                        .wrap .experience ul {
                            padding-left: 40px;
                            margin-left: 8px;
                            border-left: 1px solid rgb(240, 246, 246);
                        }
                        .wrap .experience ul li::before {
                            content: "●";
                            display: block;
                            border-radius: 50%;
                            color: rgb(210, 210, 210);
                            position: absolute;
                            margin-left: -16px;
                        }
                        .wrap .experience ul li {
                            list-style-type: none;
                            margin-bottom: 32px;
                            position: relative;
                        }
                        .wrap .experience .leftbox {
                            width: 100%;
                            height: auto;
                            float: left;
                            margin-left: 5px;
                        }
                        .wrap .experience .leftbox ul li:nth-child(n+4) :nth-child(-n+5) {
                            display: none;
                        }
                        .wrap .experience .rightbox {
                            width: 100%;
                            float: left;
                            margin-left: 5px;
                        }
                        .wrap .experience ul li a {
                            color: #000;
                            text-decoration: none;
                        }
                        .wrap .experience ul li a:hover {
                            transition: .4s;
                            color: #ccc;
                        }
                        .wrap .experience ul li span::before {
                            content: "○";
                            margin-left: 10px;
                            margin-right: 4px;
                        }
                        .wrap .experience ul li span {
                            display: block;
                            margin-top: 6px;
                            font-size: 9px;
                            font-weight: lighter;
                            color: rgb(111, 111, 111);
                        }
                        /* --作品-- */
                        .wrap .work {
                            display: block;
                            height: auto;
                        }
                        .wrap .work .more {
                            font-size: 12px;
                            text-align: center;
                            margin-right: 5px;
                            margin-top: 5px;
                            margin-bottom: 20px;
                        }
                        .wrap .work .graphic {
                            width: 100%;
                            height: fit-content;
                            padding-top: 250px;
                        }
                        .wrap .work ul {
                            padding-right: 5px;
                        }
                        .wrap .work ul li {
                            width: 100%;
                            height: auto;
                            padding: 0%;
                            margin: 0px auto;
                            margin-bottom: 10px;
                        }
                        .wrap .work .graphic .more a {
                            color: rgba(0, 0, 0, 0.7);
                        }
                        .wrap .work .woodworking h2 {
                            margin-top: 0px;
                        }
                        .wrap .work .woodworking {
                            width: 100%;
                            height: auto;
                            overflow: hidden;
                        }
                        .wrap .work .woodworking li {
                            margin-bottom: 10px;
                        }
                        .wrap .work .woodworking li:last-child {
                            display: block;
                        }
                        .bottominfo {
                            padding: 10px;
                        }
                    }